@font-face {
	font-family: "Avenir";
	src: url("/fonts/Avenir-Medium.ttf");
}

@font-face {
	font-family: "Serifa";
	src: url("/fonts/Serifa-Black.otf");
}

h1 {
	font-family: "Avenir";
	margin-top: 75px;
	text-align: center;
}

p {
	font-family: "Avenir";
	font-weight: normal;
	font-size: 14pt;
	text-align: center;
	margin-top: 100px;
}

p.error {
	color: red;
}

strong {
	font-family: "Serifa";
	font-weight: normal;
}

img.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

form {
	text-align: center;
}

input, button {
	margin-bottom: 6px;
	border-radius: 4px;
	width: 180px;
}

input.button, button {
	outline: none;
	margin-top: 4px;
	margin-bottom: 0px;
	width: 114px;
	padding: 2px;
	border-radius: 10px;
	border-style: outset;
	text-align: center;
	vertical-align: middle;
}

div.buttongroup {
	text-align: center;
}