@font-face {
	font-family: "Avenir";
	src: url("/fonts/Avenir-Medium.ttf");
}

@font-face {
	font-family: "Serifa";
	src: url("/fonts/Serifa-Black.otf");
}

html, body {
	height: 100%;
	margin: 0px;
}

.topnav {
    background-color: #0d4f8b;
		height: 9%;
		border-bottom: 1px solid black;
		overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
		font-family: "Avenir";
}

.topnav a:hover {
    background-color: #3b5998;
    color: #ffffff;
}

.container {
	height: 91%;
}

.signup_left {
	float: left;
	width: 40%;
	height: 100%;
	background: white;
}

.signup_right {
	float: right;
	width: 60%;
	height: 100%;
	display: block;
	text-align: center;
	background-image: url(background.png);
}

.clearfloats {
	clear: both;
}

.signupformbg {
	background: rgba(255, 255, 255, .8);
	width: 40%;
	margin-top: 14%;
	margin-bottom: 14%;
	margin-left: 30%;
	margin-right: 30%;
	padding-top: 0px;
	padding-bottom: 10px;
	border-radius: 25px;
	display: block;
	align-content: center;
}

.signupform {
	opacity: 1;
}

.signup_text {
	font-family: "Avenir";
	height: 50%;
	margin-top: 35%;
	margin-left: 15%;
}

h1 {
	font-family: "Avenir";
	color: white;
	background: rgba(13, 79, 139, .8);
	border-radius: 25px 25px 0px 0px;
	padding-bottom: 3px;
	margin-top: 60px;
	text-align: center;
}

p.result {
	font-family: "Avenir";
	font-weight: normal;
	font-size: 14pt;
	text-align: center;
	margin-top: 100px;
}

table.account {
	font-family: 'Serifa'
	margin-top: 20px;
	margin-left: 50px;
	align-items: center;
}

tr {

}

td {
	padding-bottom: 15px;
	padding-right: 40px;
}

td.title {
	font-family: "Serifa";
}

td.data, textarea.interests {
	font-family: "Avenir";
}

textarea {
	margin-top: 4px;
	resize: none;
}

p.error {
	color: red;
}

strong {
	font-family: "Serifa";
	font-weight: normal;
}

img.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

form {
	text-align: center;
	margin-bottom: 0px;
}

input.email, input.pwd, input.pwd_conf, button {
	margin-bottom: 6px;
	border-radius: 4px;
	width: 180px;
}

input.button, button {
	outline: none;
	margin-top: 4px;
	margin-bottom: 0px;
	margin-right: 20px;
	width: 114px;
	padding: 2px;
	border-radius: 10px;
	border-style: outset;
	text-align: center;
}

input.interests {
	width: 200px;
	height: 80px;
	word-wrap: break-word;
}

input.savechanges {
	outline: none;
	margin-top: 4px;
	margin-bottom: 0px;
	width: 114px;
	padding: 2px;
	border-radius: 10px;
	border-style: outset;
	text-align: center;

}

div.buttongroup {
	text-align: center;
}

tr {
	vertical-align: top;
}

th.messenger {
	font-family: "Avenir";
	padding-right: 50px;
}
