@font-face {
	font-family: "Avenir";
	src: url("/fonts/Avenir-Medium.ttf");
}

@font-face {
	font-family: "Serifa";
	src: url("/fonts/Serifa-Black.otf");
}

body {
	height: 100%;
	margin: 0px;
}

html.signup, html.login, body.signup, body.login {
	overflow: hidden;
}

.topnav {
    background-color: #0d4f8b;
		height: 9%;
		border-bottom: 1px solid black;
		overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
		font-family: "Avenir";
}

.topnav a:hover {
    background-color: #3b5998;
    color: #ffffff;
}

a.navbar_right {
	float: right;
	color: #f2f2f2;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	font-family: "Avenir";
}

.container {
	height: 91%;
}

.signup_left, .login_left {
	float: left;
	width: 40%;
	height: 100%;
	background: white;
}

.signup_right, .login_right {
	float: right;
	width: 60%;
	height: 100%;
	text-align: center;
	background-image: url(background.png);
}

.clearfloats {
	clear: both;
}

.signup_form_bg, .login_form_bg {
	background: rgba(255, 255, 255, .8);
	width: 40%;
	margin-top: 14%;
	margin-bottom: 25%;
	margin-left: 30%;
	margin-right: 30%;
	padding-top: 0px;
	padding-bottom: 10px;
	border-radius: 25px;
	display: block;
	align-content: center;
}

.signup_form, .login_form {
	opacity: 1;
}

.signup_text, .login_text {
	font-family: "Avenir";
	height: 50%;
	margin-top: 35%;
	margin-left: 15%;
}

div.signup_text_boxes, div.login_text_boxes {
	margin-bottom: 0px;
}

div.text_box_text {
	height: 0%;
	margin-bottom: -20px;
	text-align: center;
}

div.details_buttons {
	display: block;
	text-align: center;
}

input.signup_button, button.signup_button, input.login_button, button.login_button {
	background-color: #ffec8b; /* light goldenrod 1 */
	margin-top: 4px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 114px;
	padding: 2px;
	border-radius: 10px;
	border-style: none;
	text-align: center;
}

input.signup_button:hover, button.signup_button:hover, input.login_button:hover, button.login_button:hover {
	background-color: #eedc82;
}

h1 {
	font-family: "Avenir";
	margin-top: 60px;
	text-align: center;
}

h1.account_details {
	margin-top: 8px;
	margin-bottom: 0px;
	color: #FFFFFF;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h1.signup_box_header, h1.login_box_header {
	font-family: "Avenir";
	color: white;
	background: rgba(13, 79, 139, .8);
	border-radius: 25px 25px 0px 0px;
	padding-bottom: 3px;
	margin-top: 60px;
	text-align: center;
}

p.result {
	font-family: "Avenir";
	font-weight: normal;
	font-size: 14pt;
	text-align: center;
	margin-top: 100px;
}

table.account {
	width: 100%;
	height: 100%;
	font-family: 'Serifa';
	margin: 0 auto;
}

div.details_bg_header {
	width: 100%;
	height: 8%;
	padding-bottom: 5px;
	margin-bottom: 15px;
}

div.details_bg {
	width: 50%;
	height: 74%;
	margin-top: 3%;
	margin-left: 3%;
	background-color: #0d4f8b;
	border-radius: 25px;
	border: 1px solid black;
	align-content: center;
}

div.details {
	width: 90%;
	height: 70%;
	margin: auto;
	text-align: center;
}

div.save_button {
	text-align: center;
	margin-top: 5px;
}

tr {
	vertical-align: middle;
	text-align: left;
}

tr.even_row {
	color: #000000;
	background-color: #FFFFFF;
}

tr.odd_row {
	color: #FFFFFF;
	background-color: #0d4f8b;
}

td {
	border: 1px solid black;
	padding-bottom: 0px;
	padding-right: 0px;
}

td.title {
	padding-left: 3px;
	font-family: "Serifa";
}

td.interests_title {
	padding-left: 3px;
	vertical-align: top;
}

td.interests_form {
	padding: 0px;
}

td.data {
	font-family: "Avenir";
	padding-left: 3px;
}

textarea {
	font-family: "Avenir";
	width: 100%;
	height: 110%;
	margin: 0px;
	resize: none;
}

p.error {
	color: red;
}

strong {
	font-family: "Serifa";
	font-weight: normal;
}

strong.save_message {
	text-align: center;
	animation-name: "flash";
	animation-duration: 3s;
}

img.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

form {
	text-align: center;
	margin-bottom: 0px;
}

input.email, input.pwd, input.pwd_conf, button {
	border: 1px solid black;
	margin-bottom: 6px;
	border-radius: 4px;
	width: 180px;
}

input.button {
	outline: none;
	margin-top: 4px;
	margin-bottom: 0px;
	margin-right: 20px;
	width: 114px;
	padding: 2px;
	border-radius: 10px;
	border-style: outset;
	text-align: center;
}

input.interests {
	width: 200px;
	height: 80px;
	word-wrap: break-word;
}

input.savechanges {
	outline: none;
	margin-top: 7px;
	margin-bottom: 0px;
	width: 114px;
	padding: 2px;
	border-radius: 10px;
	border-style: none;
	text-align: center;
}

input.savechanges:hover {
	background-color: #D5EDFF;
}

th.messenger {
	font-family: "Avenir";
	padding-right: 50px;
}
