.topnav {
    background-color: #0d4f8b;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #3b5998;
    color: #ffffff;
}

/*.topnav a.active {
    background-color: #003366;
    color: #ffffff;
}
*/