@font-face {
	font-family: "Avenir";
	src: url("../fonts/Avenir-Medium.ttf");
}

@font-face {
	font-family: "Serifa";
	src: url("../fonts/Serifa-Black.otf");
}

h1 {
	font-family: "Avenir";
	margin-top: 100px;
	text-align: center;
}

strong {
	font-family: "Serifa";
	font-weight: normal;
}

img.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

form {
	text-align: center;
}

input {
	margin-bottom: 6px;
	border-radius: 4px;
	width: 180px;
}

input.button {
	margin-bottom: 0px;
	width: 114px;
	padding: 2px;
	border-radius: 10px;
}

#submit {
	margin-top: 4px;
}